<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Exchange USD</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-UDBt8mgpO1phgXkk5v4B4lzgz83ZSZg0wKhrtbLHdGxOMStzQl5szIvcX1lGTHsVOZLs2mlYovwZaJmDz6mihg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="container">
    <h1 class="mt-5 mb-3">Exchange USD</h1>
    <p>Your balance: <span id="balance">$100000.00</span></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Currency</th>
          <th>Rate</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="rates"></tbody>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-Pfws+E+L7cx8D6/SPR6zRb6T/2rU8bNq3ShsN+0vnoJy+EOf8wwOFqyFFXU6QKU99OmFtRXP0tPbKjIQxrZ2qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="app.js"></script>
</body>
</html>
